In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
df=sns.load_dataset("taxis")

In [ ]:
df.shape

(6433, 14)

In [ ]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [ ]:
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [ ]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

pickup             0
dropoff            0
passengers         0
distance           0
fare               0
tip                0
tolls              0
total              0
color              0
payment            0
pickup_zone        0
dropoff_zone       0
pickup_borough     0
dropoff_borough    0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.dtypes

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
cols=['color','payment','pickup_zone','dropoff_zone','pickup_borough','dropoff_borough']


for col in cols:
  df[col] = le.fit_transform(df[col])

In [ ]:

for column_name in cols:
   unique_values = df[column_name].unique()
   print(f"Unique values for column '{column_name}': {unique_values}")

Unique values for column 'color': [1 0]
Unique values for column 'payment': [1 0]
Unique values for column 'pickup_zone': [ 99 174   1  86 116 165   5  53 100  97 124 101  61 173  46 115  74 134
 164 179  32  34 168 118 117  71  98  64 166 171 182  78  89  56 169 193
  29 112  96 120   2  55 172  62  13 139 150  20 192 107  42 102 122  77
 161 105  52  30  70 159  27  40 148 167 187 145  66 128 152 160 191 162
 178 135  54  79  36 104  28 108  49  58  47  14 130  76 186 103 154 143
  44 140 185   8  73  90 153  22 180 138 188  65 175 190  57  68  48  67
 110  26  25  50  91 109  23  60  31 132 151 155   4  69  93 111  18 158
  17  21  81  11 123 137   7  43 119 126  84 183 170  88 177  63 141 144
  92  15 163  10   3 147  35  41 157 121  83 131  38 142   9  80  33 149
 106  45  24 133  87 113 156   6  59  39  19  16 176 125  95 184 146   0
  85 127  12  37 114  51 136 129  75  72  94 189 181  82]
Unique values for column 'dropoff_zone': [176 182 190 202 120 175 119  31   2 111 173  34 116  57  50  99 128 172
 121  78 122 155 102  56  75 188  36 101  68  28 186   7 139 177 170 104
 179  65 108 201 181  93 180  32 168 124 103 105  48  46  82 100  60  92
 113  81 194  21 151 167 156  43 174 123   1  16  66  45 136  29 130  80
 106  85  15   4  44 159 200 146 117 195 157  88  73  38  35  30  55 134
  18  58 150  63  61 193 178  25  72  71 107  40 112  64  90 197  83 118
 140 149 127  24  27  77 185 191 143 199  10  84 169 145  53 126 142 171
 160  87 162 198 148 189 110   6  20 187  69  76  51 135 161 131 137  59
  47 196  14  96  67 166 152   8 154 138 141  94 129 165 115  49   0  37
  12  13  97  42 183 163  41  23 147   9 184  79 132  33 133  19 164  98
 158  74  52  89  26 192  54 153  91  11  95  17  70   3   5 144 125 109
  86  62  39  22 114]
Unique values for column 'pickup_borough': [2 3 0 1]
Unique values for column 'dropoff_borough': [2 3 1 0 4]

In [ ]:
df['Date'] = df['pickup'].dt.strftime('%d/%m/%Y')
df['Date']=pd.to_datetime(df['Date'])

<ipython-input-14-1869087928>:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date']=pd.to_datetime(df['Date'])

In [ ]:
df.dtypes

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                       int64
payment                     int64
pickup_zone                 int64
dropoff_zone                int64
pickup_borough              int64
dropoff_borough             int64
Date               datetime64[ns]
dtype: object

In [ ]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,Date
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,1,1,99,176,2,2,2019-03-23
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,1,0,174,182,2,2,2019-03-04
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,1,1,1,190,2,2,2019-03-27
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,1,1,86,202,2,2,2019-03-10
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,1,1,116,202,2,2,2019-03-30

In [ ]:
numeric_cols = ['passengers', 'distance', 'fare', 'tip', 'tolls', 'total', 'color',
       'payment', 'pickup_zone', 'dropoff_zone', 'pickup_borough',
       'dropoff_borough']

outlier_counts = {}

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outlier_counts[col] = len(outliers)

for col, count in outlier_counts.items():
    print(f"{col}: {count} outliers")

passengers: 538 outliers
distance: 718 outliers
fare: 569 outliers
tip: 263 outliers
tolls: 338 outliers
total: 577 outliers
color: 968 outliers
payment: 0 outliers
pickup_zone: 0 outliers
dropoff_zone: 0 outliers
pickup_borough: 1115 outliers
dropoff_borough: 1169 outliers

In [ ]:
df.shape

(6341, 15)

In [ ]:

def remove_outliers_zscore(df, column, threshold=3):
    mean = df[column].mean()
    std = df[column].std()
    z_scores = (df[column] - mean) / std
    df_cleaned = df[(z_scores < threshold) & (z_scores > -threshold)].copy()
    return df_cleaned

for col in numeric_cols:
    df = remove_outliers_zscore(df, col)

df.shape

(5497, 15)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sl=MinMaxScaler()
df[['passengers','distance','fare','tip','tolls','total']]=sl.fit_transform(df[['passengers','distance','fare','tip','tolls','total']])
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,Date
0,2019-03-23 20:21:09,2019-03-23 20:27:24,0.2,0.134116,0.183655,0.307143,0.0,0.347761,1,1,99,176,2,2,2019-03-23
1,2019-03-04 16:11:55,2019-03-04 16:19:00,0.2,0.066220,0.122436,0.000000,0.0,0.238806,1,0,174,182,2,2,2019-03-04
2,2019-03-27 17:53:01,2019-03-27 18:00:25,0.2,0.114837,0.198959,0.337143,0.0,0.383881,1,1,1,190,2,2,2019-03-27
4,2019-03-30 13:27:42,2019-03-30 13:37:14,0.6,0.181056,0.244873,0.157143,0.0,0.361194,1,1,116,202,2,2,2019-03-30
5,2019-03-11 10:37:23,2019-03-11 10:47:31,0.2,0.041073,0.198959,0.308571,0.0,0.348060,1,1,165,120,2,2,2019-03-11

In [ ]:
df.drop('pickup',axis=1,inplace=True)

In [ ]:
df.drop('Date',axis=1,inplace=True)

In [ ]:
df.drop('dropoff',axis=1,inplace=True)

In [ ]:
df.dtypes

passengers         float64
distance           float64
fare               float64
tip                float64
tolls              float64
total              float64
color                int64
payment              int64
pickup_zone          int64
dropoff_zone         int64
pickup_borough       int64
dropoff_borough      int64
dtype: object

In [ ]:
X=df.drop('total',axis=1)
y=df['total']

In [ ]:
X.shape

(5497, 11)

In [ ]:
y.shape

(5497,)

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train.shape

(4397, 11)

In [ ]:
y_train.shape

(4397,)

In [ ]:
X_test.shape

(1100, 11)

In [ ]:
y_test.shape

(1100,)

In [ ]:
from keras import Sequential
from keras.layers import Dense
model=Sequential()
model.add(Dense(units=16,input_dim=11,kernel_initializer='random_uniform',activation='relu'))
model.add(Dense(units=32,kernel_initializer='he_uniform',activation='relu',name='H1'))
model.add(Dense(units=16,kernel_initializer='he_uniform',activation='relu',name='H2'))
model.add(Dense(units=8,kernel_initializer='he_uniform',activation='relu',name='H3'))
model.add(Dense(units=1,kernel_initializer='he_uniform'))

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.compile(loss='mse',optimizer='adam',metrics=['mse'])
model.fit(X_train,y_train,epochs=10,batch_size=30,verbose=1,validation_split=0.2)

Epoch 1/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 0.6271 - mse: 0.6271 - val_loss: 0.0361 - val_mse: 0.0361
Epoch 2/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0317 - mse: 0.0317 - val_loss: 0.0301 - val_mse: 0.0301
Epoch 3/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0268 - mse: 0.0268 - val_loss: 0.0210 - val_mse: 0.0210
Epoch 4/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0192 - mse: 0.0192 - val_loss: 0.0116 - val_mse: 0.0116
Epoch 5/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0103 - mse: 0.0103 - val_loss: 0.0096 - val_mse: 0.0096
Epoch 6/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0049 - mse: 0.0049 - val_loss: 0.0030 - val_mse: 0.0030
Epoch 7/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0030 - mse: 0.0030 - val_loss: 0.0044 - val_mse: 0.0044
Epoch 8/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0028 - mse: 0.0028 - val_loss: 0.0029 - val_mse: 0.0029
Epoch 9/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0022 - mse: 0.0022 - val_loss: 0.0017 - val_mse: 0.0017
Epoch 10/10
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0019 - mse: 0.0019 - val_loss: 0.0018 - val_mse: 0.0018