In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'order_id': np.arange(1, 1001)}
df = pd.DataFrame(data)

In [3]:
df

     order_id
0           1
1           2
2           3
3           4
4           5
..        ...
995       996
996       997
997       998
998       999
999      1000

[1000 rows x 1 columns]

In [4]:
print(df['order_id'].dtype)

int32

In [5]:
print(f"Memory Usage: {df.memory_usage(deep=True)}")

Memory Usage: Index        132
order_id    4000
dtype: int64

In [6]:
df['order_id'] = df['order_id'].astype(np.int16)

In [7]:
print(f"Memory Usage: {df.memory_usage(deep=True)}")

Memory Usage: Index        132
order_id    2000
dtype: int64

In [8]:
data = {'sales_amount': np.random.random(1000000)}  # Random float values
df = pd.DataFrame(data)

In [9]:
print(df['sales_amount'].dtype)

float64

In [10]:
df['sales_amount'] = df['sales_amount'].astype(np.float32)

In [11]:
print(f"Memory Usage: {df.memory_usage(deep=True)}")

Memory Usage: Index               132
sales_amount    4000000
dtype: int64

In [12]:
data = {'city': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles'] * 100000}
df = pd.DataFrame(data)

In [13]:
print(df['city'].dtype)  # This will show object (i.e., string)

object

In [14]:
df['city'] = df['city'].astype('category')

In [15]:
print(f"Memory Usage: {df.memory_usage(deep=True)}")

Memory Usage: Index       132
city     500305
dtype: int64